<!DOCTYPE html>
<html lang=en>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        {% if title %}
            <title> {{ title }} </title>
        {% else %}
            <title> HOMEPAGE </title>
        {% endif %}
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <header>
            <nav>
                <h1>BLOGS</h1>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                </ul>
                <div class="btn">
                    <button><a href="{{ url_for('auth.login') }}">Login</a></button>
                    <button><a href="{{ url_for('auth.signup') }}">Sign up</a></button>
                </div>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
